<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iut.dam.sae">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAE"
        tools:targetApi="31">

        <!-- Deep Link / QR Code -->
        <activity
            android:name=".ProfileQrCodeActivity"
            android:exported="false">
        </activity>

        <!-- FileProvider pour partager le QR Code -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Autres activités -->
        <activity android:name=".DonsUniqueActivity" android:exported="false" />
        <activity android:name=".DonsAnnuelActivity" android:exported="false" />
        <activity android:name=".DemandePrenomActivity" android:exported="false" />
        <activity android:name=".PaiementParCarteActivity" android:exported="false" />
        <activity android:name=".ItemAssociationActivity" android:exported="false" tools:ignore="Instantiatable" />
        <activity android:name=".ConseilChoixActivity" android:exported="false" />
        <activity android:name=".PaimentRibActivity" android:exported="false" />
        <activity android:name=".PaimentCarteActivity" android:exported="false" />
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="sae.page.link"
                    android:pathPrefix="/ouvrir"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginChoiceActivity" android:exported="true" />
        <activity android:name=".ConnexionActivity" android:exported="true" />
        <activity android:name=".InscriptionActivity" android:exported="true" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".DonsActivity" android:exported="false" />
        <activity android:name=".Don1Activity" android:exported="false" />
        <activity android:name=".Don2Activity" android:exported="false" />
        <activity android:name=".Don3Activity" android:exported="false" />
        <activity android:name=".ProfilActivity" android:exported="false" android:launchMode="singleTop" />
        <activity android:name=".AdminActivity" android:exported="false" />
        <activity android:name=".MonActiviteActivity" android:exported="true" />

    </application>
</manifest>
